/*
mobile  from 320 to 767 px
tablet from 768 to 1167 px
desktop from 1168 px
*/

.hide {
    display: none !important;
}

:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --slate: #434455;
    --ligth-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --white: #ffffff;
    --green: #31d0aa;

    --modal-backdrop: rgba(46, 47, 66, 0.4);

    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ===== RESET ===== */
h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
}

/* ===== BODY ===== */
body {
    font-family: "Roboto", sans-serif;
    color: var(--slate);
    background-color: var(--white);
    font-size: 16px;
    line-height: 1.5;
}

/* ===== UTILITIES ===== */
.container {
    width: 320px;
    padding: 0 16px;
    margin: 0 auto;

    

}

.feature-container{
    width: 320px;
    padding: 0 16px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

/* TABLET */
@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}


/* DESKTOP */
@media only screen and (min-width: 1440px) {
  .container{
    width: 1158px;
    padding: 0 16px;
  }
}
/* TABLET */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}



.section {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

/* ===== HEADER ===== */
.header {
    border-bottom: 1px solid var(--cornflower);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    text-decoration: none;
    margin-right: 76px;
}

.logo-accent {
    color: var(--navy-blue);
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-link {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    text-decoration: none;
    padding: 24px 0;
    display: inline-block;
    position: relative;
    transition: color var(--transition);
}

.nav-link:hover,
.nav-link.active,
.nav-link:focus {
    color: var(--ocean);
}

.nav-link.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--ocean);
}

/* ===== CONTACTS ===== */
.contacts {
    font-style: normal;
}

.contacts-list {
    display: flex;
    gap: 40px;
}

.contacts-link {
    letter-spacing: 0.02em;
    color: var(--slate);
    text-decoration: none;
    transition: color var(--transition);
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--ocean);
}

/* ===== HERO ===== */
.hero {
    max-width: 1440px;
    margin: 0 auto;
    padding: 188px 0;
    background-color: var(--navy-blue);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url("../images/people-office.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-container {
    text-align: center;
}

.hero-title {
    max-width: 496px;
    margin: 0 auto 48px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--white);
}

.btn {
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: var(--white);
    background-color: var(--iris);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color var(--transition);
}

.btn:hover,
.btn:focus {
    background-color: var(--ocean);
}

/* ===== FEATURES ===== */
.features-list {
    display: flex;
    gap: 24px;
}

.features-item {
    width: calc((100% - 72px) / 4);
}

.features-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: var(--cloud);
    border: 1px solid var(--ligth-slate);
    border-radius: 4px;
    margin-bottom: 8px;
}

.features-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.features-text {
    letter-spacing: 0.02em;
}

/* ===== TEAM ===== */
.section-title {
    text-align: center;
    margin-bottom: 72px;
}

.team {
    background-color: var(--cloud);
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    width: calc((100% - 72px) / 4);
    background-color: var(--white);
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.name-wrapper {
    padding: 32px 0;
    text-align: center;
}

.team-name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.team-role {
    margin-bottom: 8px;
    letter-spacing: 0.02em;
}

.team-social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-social-item {
    width: 40px;
    height: 40px;
}

.team-social-link {
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--transition);
}

.team-social-link:hover,
.team-social-link:focus {
    background-color: var(--ocean);
}

.team-social-icon {
    fill: var(--cloud);
}

/* ===== PORTFOLIO ===== */
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow var(--transition);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-thumb {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
    background-color: var(--iris);
    transform: translateY(100%);
    transition: transform var(--transition);
}

.portfolio-item:hover .portfolio-overlay {
    transform: translateY(0%);
}

.portfolio-card {
    padding: 32px 16px;
    border: 1px solid var(--cornflower);
    border-top: none;
}

.portfolio-name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.portfolio-type {
    letter-spacing: 0.02em;
}

/* ===== FOOTER ===== */
.footer {
    padding: 100px 0;
    background-color: var(--navy-blue);
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-brand {
    margin-right: 120px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.logo-accent-footer {
    color: var(--cloud);
}

.footer-text {
    max-width: 264px;
    letter-spacing: 0.02em;
    color: var(--cloud);
}

.footer-social {
    margin-right: 80px;
}

.footer-social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--transition);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--green);
}

.footer-social-icon {
    fill: var(--cloud);
}

/* SUBSCRIBE  */
.footer-subscribe-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);
}

.footer-subscribe-form {
    display: flex;
    gap: 24px;
}

.footer-subscribe-input {
    width: 264px;
    height: 40px;
    border: 1px solid var(--white);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: var(--white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    outline: transparent;
}

.footer-subscribe-input::placeholder {
    color: var(--white);
}

.footer-subscribe-input:hover,
.footer-subscribe-input:active{
border: 1px solid var(--green);
}


.footer-subscribe-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);

    cursor: pointer;
    background-color: var(--iris);
    border: none;
    border-radius: 4px;

    transition: background-color var(--transition);
}

.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
    background-color: var(--green);
}

.footer-subscribe-icon {
    margin-left: 16px;
    fill: var(--white);
}

/* ===== MODAL WINDOW ===== */
/* ===== MODAL WINDOW ===== */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.4);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* quando apri modal aggiungi questa classe via JS */
.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 408px;
    min-height: 584px;

    padding: 72px 24px 24px;

    background: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ===== CLOSE BUTTON ===== */
.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;

    width: 24px;
    height: 24px;

    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;

    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2e2f42;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
    fill: #ffffff;
}

/* ===== MODAL TITLE ===== */
.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 16px;
}

/* ===== FORM ===== */
.modal-field-group {
    margin-bottom: 8px;
}

.modal-label {
    display: block;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--ligth-slate);
}

.modal-input-wrap {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;

    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;

    background-color: transparent;
    padding-left: 38px;
    outline: transparent;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4d5ae5;
}

.modal-input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2e2f42;
}

/* cambia colore icona quando focus input */
.modal-input:focus+.modal-input-icon {
    fill: #4d5ae5;
}

/* ===== TEXTAREA ===== */
.modal-comment-group {
    margin-bottom: 16px;
}

.modal-textarea {
    width: 100%;
    height: 120px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    color: rgba(46, 47, 66, 0.4);

    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;

    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;

    resize: none;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
    border-color: #4d5ae5;
}

/* ===== AGREEMENT ===== */
.modal-agreement-group {
    margin-bottom: 24px;
}

.modal-agreement-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--ligth-slate);
}

.modal-checkbox-custom {
    width: 16px;
    height: 16px;

    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    display: inline-flex;
    align-items: center;
    justify-content: center;

    fill: transparent;

    margin-right: 8px;
}

.modal-checkbox:checked+.modal-agreement-label .modal-checkbox-custom {
    background-color: var(--ocean);
    border: none;
    fill: var(--cloud);
}

.modal-policy-link {
    color: var(--iris);
}

/* ===== SUBMIT BUTTON ===== */
.modal-submit-btn {
    display: block;
    margin: 0 auto;

    min-width: 169px;
    height: 56px;

    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;

    cursor: pointer;
    background-color: #4d5ae5;

    border: none;
    border-radius: 4px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
    background-color: #404bbf;
}